.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

body {
  background-color: white;
  font-family: "Poppins";
  color: black;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

name {
  color: black;
}

navitem {
  font-size: 30px;
  color: grey;
}
navitem:hover {
  font-size: 30px;
  color: black;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px;
  justify-content: center;
}